@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .dark {
    @apply bg-zinc-900 text-slate-400;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-slate-400;
    }
  }
}

@layer utilities {
  .animate-fade {
    animation: fade 200ms linear;

    @keyframes fade {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
